In [2]:
import numpy as np
import pandas as pd
import nltk
import string
from nltk.corpus import stopwords

In [3]:
train = pd.read_csv('myfile3.txt',delimiter='$')

In [4]:
#train.info()

In [5]:
train['Length'] = train['Body'].apply(len)

In [6]:
train.head()

,Body,Thread_Id,Date,Date_Sent,Address,Unnamed: 5,Length
0,[ body:HDFCUPI 48PWqRHx1fPnBmoTQeZrNXBAj2xwl36...,thread_id:38,date:1511195729532,date_sent:0,address:+919289210101,NaN,61
1,"body:Dear Customer, You have 2 missed calls...",thread_id:152,date:1511195566351,date_sent:1511195553000,address:+917986452922,NaN,141
2,body:4466218083398,thread_id:22,date:1511185904196,date_sent:0,address:09634224747,NaN,21
3,body:Haan,thread_id:68,date:1511172956752,date_sent:1511172960559,address:+918279925985,NaN,12
4,body:Attendance ho gyi?,thread_id:68,date:1511172156198,date_sent:1511172154000,address:+918279925985,NaN,26

In [7]:
train.rename(columns={'Unnamed: 5':'waste'}, inplace=True)

In [8]:
train.drop('waste',axis=1,inplace=True)

In [9]:
#train.head()

In [10]:
def process_text(mess):
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    #print(nopunc)
    # Now just remove any stopwords
    return [word.lower() for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [11]:
def correct_text(cols):
    return process_text(cols)

In [12]:
train['Body'] = train['Body'].apply(correct_text)

In [13]:
#train.head()

In [14]:
fashion = ['fashion','myntra','fbb','fashion','amazon','flipkart','clothes','gifts','festive','season','sale','jewellery','shopping','shop','voucher','offer','home','center']
food = ['food','dominos','pizza','hut','cheese','medium','pizzahut','food','veg','groceries','burger','sandwhich','foodpanda','grofers','bazaar','milkshake','baker','cake','cookies']
finance = ['finance','recharge','paytm','mobile','balance','bank','inr','debit','card','credit','acct','icici','hdfc','sbi','pnb','fixed','deposit','property','estate','sell','central','market','invest','investment','buy','lacs','emi','loan','investor']
health = ['health','weight','blood','test','medicines','medicine','disease','loss','water','purifier','homeopathy','homeopathic','ayurvedic']
#education = ['education','exam','education','college','quiz','tutorial','course','school','college','result']
education = ['cabs','pool','uber','ola','ride','discount','uberGO','share','city','cab','PNR','book','pnr','booking','order']
telecom = ['telecom','customer','airtel','jio','vodafone','idea','call','unlimited','balance','recharge']


# Aur categories daalni hai.... please daal do achi achi categories isme

In [15]:
#food

In [16]:
def label_it(cols):
    
    fashion_count = 0
    food_count = 0
    finance_count = 0
    health_count = 0
    education_count = 0
    telecom_count = 0

    
    for word in cols:
        #print(word)
        if word in fashion:
            fashion_count += 1
        
        if word in food:
            food_count += 1
        
        if word in finance:
            finance_count += 1  
            
        if word in health:
            health_count += 1   
            
        if word in education:
            education_count += 1
            
        if word in telecom:
            telecom_count += 1
            #print('Hello',finance_count)
            
    total = int(fashion_count + food_count + finance_count + health_count + education_count + telecom_count)
    
    if total==0:
        total = 1
    
    fashion_avg = float(fashion_count/total)
    food_avg = float(food_count/total)
    finance_avg = float(finance_count/total)
    health_avg = float(health_count/total)    
    education_avg = float(education_count/total)    
    telecom_avg = float(telecom_count/total)
    
    
    maxx = max(fashion_avg,food_avg,finance_avg,health_avg,education_avg,telecom_avg)
    if maxx==0:
        return 'other'
    elif maxx==fashion_avg:
        return 'fashion'    
    elif maxx==food_avg:
        return 'food'
    elif maxx==finance_avg:
        return 'finance'
    elif maxx==health_avg:
        return 'health'
    elif maxx==education_avg:
        return 'education'
    elif maxx==telecom_avg:
        return 'telecom'

In [17]:
train['Label'] = train['Body'].apply(label_it)

In [18]:
#train.head()

In [19]:
#train[train['Label']=='education']

In [20]:
#train.drop(train[train['Label']=='other'].index,inplace=True)

In [21]:
#train.drop(train[train['Label']=='telecom'].index,inplace=True)

In [22]:
#train[train['Label']=='other']

In [23]:
#train.groupby('Label')['Label'].describe()

In [24]:
finan = train[train['Label']=='finance']
fash = train[train['Label']=='fashion']
foo = train[train['Label']=='food']
edu = train[train['Label']=='education']
heal = train[train['Label']=='health']
oth = train[train['Label']=='other']
telec = train[train['Label']=='telecom']

In [25]:
finan.info()
foo.info()
fash.info()
edu.info()
heal.info()
oth.info()
telec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1197 entries, 75 to 7727
Data columns (total 7 columns):
Body         1197 non-null object
Thread_Id    1197 non-null object
Date         1197 non-null object
Date_Sent    1197 non-null object
Address      1197 non-null object
Length       1197 non-null int64
Label        1197 non-null object
dtypes: int64(1), object(6)
memory usage: 74.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 77 to 7714
Data columns (total 7 columns):
Body         145 non-null object
Thread_Id    145 non-null object
Date         145 non-null object
Date_Sent    145 non-null object
Address      145 non-null object
Length       145 non-null int64
Label        145 non-null object
dtypes: int64(1), object(6)
memory usage: 9.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 976 entries, 78 to 7711
Data columns (total 7 columns):
Body         976 non-null object
Thread_Id    976 non-null object
Date         976 non-null object
Date_Sent    976 non-null object
Address      976 non-null object
Length       976 non-null int64
Label        976 non-null object
dtypes: int64(1), object(6)
memory usage: 61.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 74 to 7721
Data columns (total 7 columns):
Body         350 non-null object
Thread_Id    350 non-null object
Date         350 non-null object
Date_Sent    350 non-null object
Address      350 non-null object
Length       350 non-null int64
Label        350 non-null object
dtypes: int64(1), object(6)
memory usage: 21.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 96 to 7708
Data columns (total 7 columns):
Body         266 non-null object
Thread_Id    266 non-null object
Date         266 non-null object
Date_Sent    266 non-null object
Address      266 non-null object
Length       266 non-null int64
Label        266 non-null object
dtypes: int64(1), object(6)
memory usage: 16.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3600 entries, 0 to 7726
Data columns (total 7 columns):
Body         3600 non-null object
Thread_Id    3600 non-null object
Date         3600 non-null object
Date_Sent    3600 non-null object
Address      3600 non-null object
Length       3600 non-null int64
Label        3600 non-null object
dtypes: int64(1), object(6)
memory usage: 225.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1194 entries, 1 to 7712
Data columns (total 7 columns):
Body         1194 non-null object
Thread_Id    1194 non-null object
Date         1194 non-null object
Date_Sent    1194 non-null object
Address      1194 non-null object
Length       1194 non-null int64
Label        1194 non-null object
dtypes: int64(1), object(6)
memory usage: 74.6+ KB

In [26]:
#finan.head()

In [27]:
start = 145
finan = finan.drop(finan.index[[ind for ind in range(start,1197)]],axis=0)
#foo = foo.drop(foo.index[[ind for ind in range(start,149)]],axis=0)
fash = fash.drop(fash.index[[ind for ind in range(start,976)]],axis=0)
edu = edu.drop(edu.index[[ind for ind in range(start,350)]],axis=0)
heal = heal.drop(heal.index[[ind for ind in range(start,266)]],axis=0)
oth = oth.drop(oth.index[[ind for ind in range(start,3600)]],axis=0)
telec = telec.drop(telec.index[[ind for ind in range(start,1194)]],axis=0)

In [28]:
#finan

In [29]:
#finan.info()

In [30]:
train = [finan,foo,fash,edu,oth,heal,telec]

In [31]:
train = pd.concat(train)

In [32]:
#train.info()

In [33]:
#train['Label'].describe()

In [34]:
#train.groupby('Label')['Label'].describe()

In [35]:
#train

In [36]:
train.head()

,Body,Thread_Id,Date,Date_Sent,Address,Length,Label
75,"[body, earn, rs25000, annually, also, get, lum...",thread_id: 1790,date: 1509773729218,date_sent: 1509773718000,address: DZEISSMS,164,finance
79,"[body, dear, customer, invest, axis, multicap,...",thread_id: 2145,date: 1509703786413,date_sent: 1509703785000,address: AD200001,164,finance
81,"[body, eligible, preapproved, axis, bank, neo,...",thread_id: 1401,date: 1509700065511,date_sent: 1509700063000,address: DM098067,113,finance
83,"[body, dear, customer, 2, days, invest, sovere...",thread_id: 2153,date: 1509699838775,date_sent: 1509698906000,address: DM014534,166,finance
85,"[body, buy, shops, preleased, trusted, brand, ...",thread_id: 827,date: 1509690435814,date_sent: 1509690433000,address: DM021021,155,finance

In [37]:
train.drop(['Thread_Id','Date','Date_Sent','Address'],axis=1,inplace=True)

In [38]:
train.head()

                                                 Body  Length    Label
75  [body, earn, rs25000, annually, also, get, lum...     164  finance
79  [body, dear, customer, invest, axis, multicap,...     164  finance
81  [body, eligible, preapproved, axis, bank, neo,...     113  finance
83  [body, dear, customer, 2, days, invest, sovere...     166  finance
85  [body, buy, shops, preleased, trusted, brand, ...     155  finance

In [39]:
from sklearn.utils import shuffle
train = shuffle(train)

In [40]:
train.head()

                                                   Body  Length    Label
7113  [bodybook, food, court, best, location, new, g...     129     food
73    [bodyphonepesmsverify, 29afd8447846a73eb5e8a8f...      91    other
29    [bodyek, baar, check, kar, lo, application, ki...      67    other
540   [body, hello, ac, 49591359, credited, rs, 5930...     162  finance
684   [body, 1, missed, calls, 918447758238, last, c...      83  telecom

In [41]:
Features = train['Label']

In [42]:
train.drop('Label',axis=1,inplace=True)

In [43]:
from sklearn.feature_extraction.text import CountVectorizer

In [44]:
def tostring(cols):
    
    ch = ''
    
    for word in cols:
        ch += word + ' '
    
    return ch

In [45]:
train['Body'] = train['Body'].apply(tostring)

In [46]:
#train.head()

In [47]:
bow_transformer = CountVectorizer().fit(train['Body'])
Bow4=bow_transformer.transform(train['Body'])
print(bow_transformer.get_feature_names()[22])

01243826730

In [48]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer=TfidfTransformer().fit(Bow4)
Message=tfidf_transformer.transform(Bow4)

In [49]:
from sklearn.naive_bayes import MultinomialNB
Fitter=MultinomialNB().fit(Message,Features)

In [50]:
all_predict=Fitter.predict(Bow4)

In [51]:
#all_predict

In [52]:
from sklearn.metrics import classification_report
print(classification_report(Features,all_predict))

             precision    recall  f1-score   support

  education       0.99      0.93      0.96       145
    fashion       0.86      0.88      0.87       145
    finance       0.93      0.98      0.96       145
       food       0.97      0.98      0.98       145
     health       0.86      1.00      0.92       145
      other       1.00      0.85      0.92       145
    telecom       0.97      0.94      0.95       145

avg / total       0.94      0.94      0.94      1015

In [53]:
#filter.predict(['dominos'])

In [54]:
from sklearn.model_selection import train_test_split
msg_train,msg_test,label_train,label_test=train_test_split(train['Body'],Features,test_size=0.2, random_state=42)

In [55]:
#msg_train

In [56]:
def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    ff = open('stopwords.txt','r')
    ll = ff.read().split()
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in ll]

In [57]:
from sklearn.pipeline import Pipeline
pipeline = Pipeline([
    ('bow', CountVectorizer(analyzer=text_process)),  # strings to token integer counts
    ('tfidf', TfidfTransformer()),  # integer counts to weighted TF-IDF scores
    ('classifier', MultinomialNB()),  # train on TF-IDF vectors w/ Naive Bayes classifier
])

In [58]:
pipeline.fit(msg_train,label_train)

Pipeline(steps=[('bow', CountVectorizer(analyzer=<function text_process at 0x10d2b7378>, binary=False,
        decode_error='strict', dtype=<class 'numpy.int64'>,
        encoding='utf-8', input='content', lowercase=True, max_df=1.0,
        max_features=None, min_df=1, ngram_range=(1, 1), preprocessor=None,...f=False, use_idf=True)), ('classifier', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [59]:
predictions=pipeline.predict(msg_test)

In [60]:
print(classification_report(label_test,predictions))

             precision    recall  f1-score   support

  education       0.90      0.62      0.73        29
    fashion       0.62      0.88      0.73        32
    finance       0.91      0.81      0.86        37
       food       0.64      1.00      0.78        18
     health       0.84      0.97      0.90        33
      other       0.91      0.40      0.56        25
    telecom       0.79      0.76      0.77        29

avg / total       0.81      0.78      0.77       203

In [61]:
pipeline.predict(["Uber : You've got 50% off your 10 next 10 non-uberPOOL rides in Delhi NCR until 20-11-2017"])

array(['education'],
      dtype='<U9')

In [62]:
pipeline.predict(['medicine'])

array(['education'],
      dtype='<U9')

In [63]:
from sklearn.externals import joblib

In [64]:
joblib.dump(pipeline,'FinalFile.pkl')

['FinalFile.pkl']

In [65]:
Classifier=joblib.load('FinalFile.pkl')

In [66]:
Classifier.predict(['Hello there, you have unlocked 50 rides'])

array(['education'],
      dtype='<U9')